{% extends 'principal.html' %}

{% block cabecera %}
    <title>Asignaciones de Tareas</title>
{% endblock %}

{% block contenido %}
    <header>
        <h1>Asignaciones de Tareas</h1>
    </header>

    <div class="container">
        <h2>Tareas Asignadas:</h2>
        <ul>
            {% for asignacion in asignaciontarea %}
                {% include 'Listas/asignacion_tarea_list.html' %}
            {% empty %}
                <li>No hay asignaciones para esta tarea.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
