<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaciones de Tareas</title>
</head>
<body>

    <header>
        <h1>Asignaciones de Tareas</h1>
    </header>

    <div class="container">
        <h2>Tareas Asignadas:</h2>
        <ul>
            {% for asignacion in asignaciontarea %}
            <strong>Proyecto:</strong> {{ asignacion.proyecto.id }}<br>
                <li>
                    <strong>Usuario:</strong> {{ asignacion.usuario.nombre }}<br>
                    <strong>Tarea:</strong> {{ asignacion.tarea.titulo }}<br>
                    <strong>Fecha de Asignación:</strong> {{ asignacion.fecha_asignacion }}<br>
                </li>
            {% empty %}
                <li>No hay asignaciones para esta tarea.</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>