{% extends 'principal.html' %}

{% block cabecera %}
    <title>Listado de Proyectos</title>
{% endblock %}

{% block contenido %}
    <header>
        <a href="/">Sistema de Proyectos</a>
    </header>

    <div class="container">
        <h1>Listado de Proyectos</h1>
        {% for proyectoo in dame_proyecto %}
            {% include 'Listas/proyecto_list.html' %}
        {% endfor %}
        <div class="refresh">
            <a href="{% url 'dame_proyecto' %}">Refrescar la Lista</a>
        </div>
    </div>
{% endblock %}
