<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas del Proyecto</title>
</head>
<body>

    <header>
        <a href="/">Sistema de Proyectos</a>
    </header>

    <div class="container">
        <h1>Tareas del Proyecto</h1>
        <ul>
            {% for tarea in tareas %}
                <article>
                    <h3>Título: {{ tarea.titulo }}</h3>
                    <p><strong>Proyecto:</strong> {{ tarea.proyecto.id }}</p>
                    <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
                    <p><strong>Prioridad:</strong> {{ tarea.prioridad }}</p>
                    <p><strong>Estado:</strong> {{ tarea.estado }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ tarea.fecha_creacion }}</p>
                </article>
            {% endfor %}
        </ul>
    </div>

    <footer>
        &copy; 2024 - Sistema de Proyectos
    </footer>

</body>
</html>