{% extends 'principal.html' %}

{% block cabecera %}
    <title>Tareas del Proyecto</title>
{% endblock %}

{% block contenido %}
    <header>
        <a href="/">Sistema de Proyectos</a>
    </header>

    <div class="container">
        <h1>Tareas del Proyecto</h1>
        <ul>
            {% for tarea in tareas %}
                <article>
                    <h3>Título: {{ tarea.titulo }}</h3>
                    <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
                    <p><strong>Prioridad:</strong> {{ tarea.prioridad }}</p>
                    <p><strong>Estado:</strong> {{ tarea.estado }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ tarea.fecha_creacion }}</p>
                </article>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
