{% extends 'principal.html' %}

{% block cabecera %}
    <title>Comentarios de la Tarea</title>
{% endblock %}

{% block contenido %}
    <header>
        <a href="/">Sistema de Proyectos</a>
    </header>

    <div class="container">
        <h1>Comentarios de la Tarea</h1>
        
        {% if comentarios %}
            {% for comentario in comentarios %}
                {% include 'Listas/comentarios_list.html' %}
            {% endfor %}
        {% else %}
            <p>No hay comentarios que coincidan con los criterios especificados.</p>
        {% endif %}
    </div>
{% endblock %}
