{% extends 'principal.html' %}

{% block cabecera %}
    <title>Usuarios No Asignados</title>
{% endblock %}

{% block contenido %}
    <header>
        <a href="/">Sistema de Proyectos</a>
    </header>

    <div class="container">
        <h1>Usuarios No Asignados a Tareas</h1>
        
        {% if usuarios %}
            <ul>
                {% for usuario in usuarios %}
                    {% include 'Listas/usuario_no_asignado_list.html' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay usuarios sin tareas asignadas.</p>
        {% endif %}
    </div>
{% endblock %}

