{% extends 'principal.html' %}

{% block cabecera %}
    <title>Tareas Completadas</title>
{% endblock %}

{% block contenido %}
    <header>
        <h1>Tareas Completadas</h1>
    </header>

    <div class="container">
        <h2>Tareas Completadas entre {{ 2000 }} y {{ 2024 }}:</h2>
        {% if tareas %}
            {% for tarea in tareas %}
                {% include 'Listas/tareas_completadas_list.html' %}
            {% endfor %}
        {% else %}
            <p>No hay tareas completadas en este rango de años.</p>
        {% endif %}
    </div>
{% endblock %}
