<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Gestión de Ejercicio</title>
</head>
<body>

    <header>
        <h1><a href="/">Sistema de Gestión de Alumnos</a></h1>
    </header>

    <div class="container">
        <h2>Menú del Sistema</h2>
        <ul class="link-list">
            <li class="link-item">
                <a href="{% url 'dame_proyecto' %}">Ver Proyectos</a>
            </li>
            <li class="link-item">
                <a href="{% url 'tareas_por_proyecto' 17 %}">Ver Tareas</a>
            </li>
            <li class="link-item">
                <a href="{% url 'asignacion_tarea' 33 %}">Ver Asignación de Tarea</a>
            </li>
            <li class="link-item">
                <a href="{% url 'texto_observaciones' 'pepe' %}">Ver Observación de Tarea</a>
            </li>
            <li class="link-item">
                <a href="{% url 'tareas_completadas' 2000 2024 %}">Ver Tarea Completada</a>
            </li>
            <li class="link-item">
                <a href="{% url 'comentarios_palabra_y_ano' 1 'la' 2024 %}">Ver Último Comentario</a>
            </li>
            <li class="link-item">
                <a href="{% url 'etiquetas_por_proyecto' 22 %}">Ver Etiqueta del Proyecto</a>
            </li>
            <li class="link-item">
                <a href="{% url 'usuarios_no_asignados' %}">Ver Usuario No Asignado</a>
            </li>
        </ul>
    </div>

</body>
</html>
