{% extends 'principal.html' %}

{% block cabecera %}
    <title>Etiquetas del Proyecto</title>
{% endblock %}

{% block contenido %}
    <header>
        <a href="/">Sistema de Proyectos</a>
    </header>

    <div class="container">
        <h1>Etiquetas del Proyecto</h1>
        
        {% if etiquetas %}
            <ul>
                {% for etiqueta in etiquetas %}
                    {% include 'Listas/etiquetas_por_proyecto_list.html' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay etiquetas asociadas a las tareas de este proyecto.</p>
        {% endif %}
    </div>
{% endblock %}